* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #08c2f0;
  font-family: sans-serif;
  height: 100vh;
}
.container {
  background-color: black;
  width: 75%;
  margin: 50px auto;
  height: 500px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 20px 20px;
  column-gap: 10px;
  row-gap: 10px;
}

.header-title {
  color: white;
  text-align: center;

  padding: 20px 40px;
  margin-top: 10px;
}

.btn {
  background-color: #74c0fc;
  color: white;
  font-size: 15px;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 22px;
  margin: 5px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}
.outer-display {
  background-color: #74c0fc;
  grid-column: 2/-1;
  grid-row: 2/-1;
  border-radius: 15px;
}
.viewPort {
  background-color: white;
  grid-column: 3/-2;
  grid-row: 3/-2;
  border-radius: 15px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.decrese-temp {
  grid-column: 1/2;
}
.show-weather {
  grid-column: 1/2;
}
.minute-timer {
  grid-column: 1/2;
}
.play-music {
  grid-column: 1/2;
}
.current-time {
  color: white;
  grid-column: 5/-1;
  grid-row: 2/3;
  display: flex; /* set display property to flex */
  justify-content: center; /* center content horizontally */
  align-items: center; /* center content vertically */
  padding-bottom: 5px;
  padding-left: 80px;
}
.current-time .time,
.current-temp .temp {
  /* background-color: blue; */
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 20px;
  margin-top: 5px;
  font-size: 28px;
}

.current-temp {
  color: white;
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex; /* set display property to flex */
  justify-content: center; /* center content horizontally */
  align-items: center; /* center content vertically */
  padding-bottom: 5px;
  padding-right: 80px;
}

.to-fahrenheit {
  grid-column: 1/2;
  grid-row: 4/5;
}
.show-weather {
  grid-column: 6/-1;
  grid-row: 1/2;
}
